{% extends 'voting/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <h1>Employee List</h1>
    </div>
    <div class="col-md-2 pt-3">
        <a href="{% url 'Upload_Employee_Data' %}" class="bg-white py-2 px-3">Add</a>
    </div>
</div>


    <ul class="list-group">
        {% for employee in employee_list %}
        <li class="list-group-item">
            <img src="{{employee.image.url}}" height="100px" width="80px">
            <a href="{% url 'Employee_Detail' employee.id %}">{{employee.name}}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}